<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{ if .IsHome }}
    <title>{{ .Site.Params.Title }} | {{ .Site.Params.subtitle}}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Params.Title }}</title>
    {{ end }}
    <link rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/rainbow.min.css" />
    {{ $styleFile := resources.Get "static/style.scss" | resources.ToCSS | resources.Minify }}
    {{ $styleVersion := substr (md5 $styleFile.Content) 0 6 }}
    <link rel="stylesheet" href="{{ $styleFile.RelPermalink }}?v={{ $styleVersion }}" integrity="{{ $styleFile.Data.Integrity }}" media="screen" />

    {{ block "head" . }}{{ end }}
</head>

<body>
    <header class="lay-header box-header"></header>
    <div class="lay-wrapper">
        <aside class="lay-aside box-aside">
            <div class="box-shadow-without-top">
                {{ partial "menu.html" . }}
            </div>
            <div class="box-ref box-shadow bg-white" id="id-fix">
                {{ block "ref" . }}{{ end }}
                {{ partial "ref-top.html" . }}
            </div>
        </aside>
        <main class="lay-main box-main">
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    <footer class="lay-footer box-footer">
        <span>
            Copyright
            &nbsp;&copy;
            &nbsp;2019-{{ now.Year }}
            &nbsp;<a href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a>,
            &nbsp;All Rights Reserved.
        </span>
    </footer>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ $scriptFile := resources.Get "static/script.js" | resources.Minify }}
    {{ $scriptVersion := substr (md5 $scriptFile.Content) 0 6 }}
    <script type="text/javascript" src="{{ $scriptFile.RelPermalink }}?v={{ $scriptVersion }}" integrity="{{ $scriptFile.Data.Integrity }}"></script>
</body>

</html>